.CoursesRow-container{
    border: 2px solid red;
    text-align: left;
    margin-bottom: 2px;
    font-size: 13px;
    white-space: pre-wrap;
        
}

.Courses-perdido{
    color: red;
    font-weight: bold;
    font-size: 13px;
    white-space: pre-wrap;

}